#searchBar {
  padding-top: 2vh;
  margin-left: 20vw;
  margin-right: 20vw;
  width: 50vh;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(#ffffff, #f0f2f2);
}

#searchBarS {
  font-size: 20px;
  border: none;
}

#filterBar form > p {
  font-size: 20px;
}

#resetButton {
  font-size: 1.5em;
  border-radius: 10px;
  border: none;
  background-color: #d21111;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: background-color 0.2s;
  width:100px;
  /*box-shadow: 0 0 0 5px rgba(210,17,17,0.3);*/
}

#resetButton:hover {
  background-color: red;
}

#resetButton:active {
  background-color: #700f0f;
}

#submitButton {
  font-size: 1.5em;
  border-radius: 10px;
  border: none;
  background-color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: background-color 0.2s;
  width:190px;
}

#submitButton:hover {
  background-color: #7da89a;
}

#submitButton:active {
  background-color: #23b890;
}

.inputSpan {
  background: linear-gradient(#ffffff, #f0f2f2);
  padding: 10px;
  border-radius: 10px;
}

.inputSpan input {
  background: linear-gradient(#ffffff, #f0f2f2);
  border: none;
  outline: none;
  font-size: 20px;
}

.inputLable label {
  display: block;
  border-radius: 20px;
  padding: 2px 10px;
  width: 280px;
  background-color: white;
  transition: background-color 0.2s;
  margin-top: 5px;
  text-align: center;
  font-size: 1.2em;
}

.inputLable label:hover {
  background-color: #7da89a;
}

.inputLable input:checked + label {
  background-color: #23b890;
}

.inputLable label:active {
  background-color: #3d785a;
}

.inputLableST {
  font-size: 0.6em;
}

/* ############################################################################################################ */
/* ########################################### MEDIA ########################################################## */
/* ############################################################################################################ */

@media (min-width: 1020px) {
  #content {
    margin-left: max(365px, 18vw);
    margin-right: 10px;
    transition: margin-left 0.4s, margin-right 0.4s;
  }

  #filterBar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    float: left;
    height: 100vh;
  }

  #filterBarMain {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    height: 100vh;
    background-color: rgba(255,255,255,0.4);
    transition: margin-left 0.4s;
  }

  #hideFilters {
    position: absolute;
    margin-left: 320px;
    height: 100%;
    width: 30px;
    background-color: rgba(255,255,255,0.2);
    transition: background-color 0.2s;
    transition: margin-left 0.4s;
    text-align: center;
    line-height: 90vh;
  }

  #hideFilters:hover {
    background-color: rgba(255,255,255,0.8);
  }

  #hideFilters:active {
    background-color: rgba(200,200,200,0.6);
  }

  #hideFilters::after {
    content: "<<";
  }

  #checkFilter:checked ~ #filterBar > #hideFilters::after {
    content: ">>";
  }


  #checkFilter:checked ~ #filterBar > #filterBarMain {
    margin-left: -320px;
  }

  #checkFilter:checked ~ #filterBar > #hideFilters {
    margin-left: 0;
  }

  #checkFilter:checked ~ #content {
    margin-left: 18vw;
    margin-right: 18vw;
  }
}

@media (max-width: 1019px) {

}

/* ############################################################################################################ */
/* ##################################### MULTI-RANGE-SLIDER ################################################### */
/* ############################################################################################################ */

.multiRangeSlider {
  width: 300px;
  height: 100px;
}

.multiRangeSlider > .slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0 15px;
}

.multiRangeSlider > .slider > .track {
  position: absolute;
  border-radius: 5px;
  background-color: #7da89a;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.multiRangeSlider > .slider > .thumbLeft, .multiRangeSlider > .slider > .thumbRight {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  background-color: #42e6b1;
  border-radius: 50%;
  box-shadow: 0 0 0 0px rgba(66, 230, 177, 0.3);
  transition: box-shadow 0.2s ease-in;
}

.multiRangeSlider > .slider > .range {
  position:absolute;
  z-index: 2;
  left:0%;
  right:0%;
  top:0;
  bottom: 0;
  border-radius: 5px;
  background-color: #42e6b1;
}

.multiRangeSlider > .slider > .thumbLeft {
  left: 0%;
  transform: translate(-15px, -10px);
}

.multiRangeSlider > .slider > .thumbRight {
  right: 0%;
  transform: translate(15px, -10px);
}

.multiRangeSlider > .slider > .thumbHover {
  box-shadow: 0 0 0 5px rgba(66, 230, 177, 0.2);
}

.multiRangeSlider > .slider > .thumbActive {
  box-shadow: 0 0 0 10px rgba(66, 230, 177, 0.3);
}


.multiRangeSlider input[type=range] {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  height: 10px;
  width: 300px;
  -webkit-appearance: none;
  opacity: 0;
}

.multiRangeSlider input[type=range]::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  pointer-events: all;
  -webkit-appearance: none;
}

.multiRangeSlider > .sliderLabel {
  margin-top: 20px;
  margin-left:50px;
  margin-right: 50px;
}

.multiRangeSlider > .sliderLabel > .sliderSpan input {
  width: 50px;
}

.multiRangeSlider > .sliderLabel > .sliderSpan input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* ############################################################################################################ */
/* ########################################## RESULTS ######################################################### */
/* ############################################################################################################ */

@media (min-width: 1020px) {
  .searchResult {
    width: 60vw;
    height: 300px;
  }

  .searchResultImage {
    float: right;
    text-align: center;
    margin-top: -4.2em;
  }
}

@media (max-width: 1019px) {
  .searchResult {
    width: min(90vw, 300px);
  }

  .searchResult h2 {
    text-align: center;
  }
}

.searchResult {
  margin-top: 20px;
  background: linear-gradient(#ffffff, #f0f2f2);
  padding: 2vh 2vw;
  border-radius: 1em;
}

.searchResultImage {
   text-align: center;
}

.searchResultImage img {
  height: min(90vw, 300px);
}
