.carousel{
    position: relative;
}

.slide {
    position: relative
}

.text h1 {
    font-size:2.5vw;
}

.text p {
    font-size:2vw;
}

.slide_1 .text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 35%;
}

.slide_2 .text {
    position:absolute;
    top: 10%;
    left: 55%;
}

.slide_3 .text {
    position:absolute;
    top: 10%;
    left: 10%;
}

.text h1 {
    color: white;
    text-align:center;
}

.text p {
    color: white;
    text-align:center;
}

.pointer {
    height:100%;
    position:absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}

.pointer img {
    filter:invert(1);
    height: 10vw;
    margin-top:232%;
}

.pointer_right {
    right:0;
}

/* ############################################################################################################ */
/* ######################################### BENEFITS ######################################################### */
/* ############################################################################################################ */

.benefits {
    position: relative;
}

#absolute_h2 {
    position: absolute;
    width:60vw;
    margin-left:2vw;
    font-size:2.5vw;
    color:white;
    text-transform: uppercase;
}

#absolute_p {
    text-transform: none;
    font-size:2vw;
    line-height: 130%;
}


/* ############################################################################################################ */
/* ######################################### MAP ############################################################## */
/* ############################################################################################################ */

#map {
    height:70vh;
    width:100%;
}

/* ############################################################################################################ */
/* ######################################### MEDIA ############################################################ */
/* ############################################################################################################ */

@media (max-width: 1024px) {
    #map {
        height:60vh;
    }
}

@media (max-width: 800px) {
    #absolute_h2, .text h1{
        font-size: 3vw;
    }
    #map {
        height:50vh;
    }
}

@media (max-width: 700px) {
    #map {
        height:40vh;
    }
    .main {
        min-height: auto;
    }
}