/* ############################################################################################################ */
/* ######################################### GLOBALS ########################################################## */
/* ############################################################################################################ */

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(211, 205, 196);
    min-height: 100%;
}

.main {
    min-height: 100vh;
}

img {
    display:block;
}

li, a, button {
    text-decoration: none;
}

ul {
    margin:0;
    padding:0;
}

/* ############################################################################################################ */
/* ######################################### NAVIGATION ####################################################### */
/* ############################################################################################################ */

header {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    margin: 0;
    padding: 0;
    height:100px;
    text-align: center;
    background-color: black;
}

header ul {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

nav li {
    display: inline-block;
}


header a {
    display: block;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 15px;
    font-size: 50px;
    border-radius:10px;
    transition: all 0.3s ease;
}

header a:hover {
    background-color: red;
}

#logo {
    width:80px;
}

#logo_link {
    padding:0;
    transition:none;
}

#logo_link:hover {
    background-color: initial;
}

#avatar {
    width:73px;
}

#avatar_link {
    padding:0;
    margin-left:100px;
    transition:none;
}

#avatar_link:hover {
    background-color: initial;
}


#LogIn, #LogOut {
    color:#23b890;
    margin-left:50px;
}

.nav_btn {
    color: white;
    display:none;
    cursor:pointer;
    position:absolute;
    right:0;
    margin-right:40px;
}

.nav_btn img {
    width:50px;
}

.fluid {
    width:100%;
}

#check {
    display:none;
}

/* ############################################################################################################ */
/* ######################################### FOOTER ########################################################### */
/* ############################################################################################################ */

footer {
    background-color: black;
}

footer p {
    padding: 10px 0px;
    margin:0;
    text-align: center;
    color: white;
    font-size: 20px;
}

/* ############################################################################################################ */
/* ######################################### MEDIA ############################################################ */
/* ############################################################################################################ */

@media (max-width: 1300px) {

    #logo_link {
        margin-left:50px;
        margin-top:10px;
        margin-bottom: 10px;
        width: 80px;
    }

    header {
        height:auto;
        align-items: normal;
        justify-content: normal;
        flex-direction: column;
    }

    nav ul {
        display:none;
    }

    .nav_btn {
        display:block;
        margin-top:25px;
    }

    #check:checked ~ nav ul{
        display:block;
    }

    #check:checked ~ nav ul li{
        display:block;
        width:50%;
        margin-left:25%;
    }

    #check:checked ~ nav ul li a{
        padding: 25px 50px;
        margin: 10px 0px;
    }

    #avatar {
        display:initial;
    }
}

@media (max-width: 530px) {

    #check:checked ~ nav ul li{
        display:block;
        width:100%;
        margin:0;
    }
    nav ul li a{
        font-size:40px;
    }
}

@media (max-width: 260px) {
    #logo_link {
        display:none;
    }
    .nav_btn {
        position:relative;
        margin:25px auto;
    }
    nav ul li a{
        font-size:30px;
    }
}